*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}


/* This is the header container where a h2 tag and the hamburger menu will be at */
.header-container{
  padding: 20px;
  display: flex;
  font-family: 'Bebas Neue', cursive;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;


}


/* styling the items within the anchor tags in the menu */
.nav-items > a{
  text-decoration: none;
  line-height: 2em;
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  justify-content: space-between;
  margin-left: 10px;


}

/* having the nav item to diplay in a row */
.nav-items {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  white-space: nowrap;


}







/* styling for first backgound image and its label */
 #first-pic{
    background-image: url(../images/images/pic1.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    white-space: nowrap;
    font-size: 30px;



}

/*  styling for second backgound image and its label */
 #second-pic{
  background-image: url(../images/images/pic2.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  white-space: nowrap;
  font-size: 30px;

}

/*  styling the third backgound image and its label*/
 #third-pic{
  background-image: url(../images/images/pic3.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  white-space: nowrap;
  font-size: 30px;


}

/*  styling the fourth backgound image and its label */
 #fourth-pic{
  background-image: url(../images/images/pic4.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  white-space: nowrap;
  font-size: 30px;


}



/* positining the menu correctly */
#menu {
  position: absolute;
  top:290px;
  /* this hides the content of the menu thats why the left of the menu is set to -127px*/
  left: -127px;
  padding: 0px;

  /* Animation */
  transition: left 1s;

  /* flex  */
  display: flex;
  flex-direction: row;
}

/*  styling the items that are inside the anchor tags in the menu*/
#menu a{
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  background-color: white;
  color: #10316b;
  font-weight: bold;
  height: 30px;
  margin-left: 15px;
  padding: 0.2em;
  border-radius: 3px;
  text-decoration: none;

  /* Animations */
  transform: rotate(90deg);
  transform-origin: 0% 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);


  /* border around games link */
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/* styling the items inside the unorderded list*/
#menu ul{
  background-color: #357376;
  padding: 0;
}

/*  stylind the individual list items inside the unorderded list*/
#menu ul > li{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

/*  stylind the menu buttons */
#menu button{
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  padding: 0.1em;
  border-radius: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

}

/* The overlay container for Game2 */
#secondGame{
  position: fixed;
  display: flex;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;






}

/* this is where the button and paragraph tag is */
#secondGame > div{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;

}

/* styling whats inside the paragraph tag */
#secondGame > div > p{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  margin: 10px;
}

/*  styling the close button */
#secondGame > div > button{
  font-family: 'Bebas Neue', cursive;
  font-size: 15px;
  padding: 2px;
  background-color: lightgray;
}

/* result overlay (will be transperent) */
#resOverlay{
  position: fixed;
  display: flex;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;




}

/* inside the result overlay I styled this div which contains the tryAgain and close button */
/*  This is where the outcome of the game will be displayed at */
#resOverlay > div{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 71.8px 91px;


}

/* styling whats in the paragraph tag */
#resOverlay > div > p{
  font-family: 'Bebas Neue', cursive;
  font-size: 15px;
  padding: 10px;
}

/*  styling the button */
#resOverlay > div > button{
  font-family: 'Bebas Neue', cursive;
  margin: 2px;
  padding: 5px;
  background-color: lightgray;

}

/* This overlay is the first game overlay and it has a transparents backgound */
.overlay{
  position: fixed;
  display: flex;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

/* on top of the first game overlay is this overlay where the user will be able to see the */
/* player and machine cars and where they will be able to play the game at */
.overlay-content{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;

}

/*  styles the item inside the paragraph tag*/
.overlay-content > p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
}

/* styling the draw card button */
.overlay-content > button{
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 15px;
  background-color: lightgray;

}


/* Styling the container where the machine card will be displayed */
#machine{
  width: 90px;
  height: 140px;
  padding-bottom: 10px;
  padding-top: 10px;


}

/* styling the container where the player card will be displayed */
#player{
  width: 90px;
  height: 140px;
  padding-bottom: 10px;
  padding-top: 10px;
}


.row { /* This is my flex container for the images*/
  display: flex;
  flex-wrap: wrap;
  padding: 4px 20px;
  margin-bottom: 50px;
}

/* I was implementing the resonsiveness of each backgorund image contained in the divs of the row container */
/* Added padding so the background images will be displayed properly */

.row > div {
  flex: 25%;
  max-width: 100%;
  padding: 100px;

}

/* styling the labels on each background image */
.row > div > p{
  padding: 10px;
  background : rgba(0,0,0,0.5);
}

/* styling the footer container and aligning each items in a row */
.footer-container{
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;

}

/* Applying some more styles to the footer */
.footer-container{

  background-color: black;
  color:white;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* styling the items inside the unorderded list container */
.footer-container ul{
  list-style: none;
  order: 3;
  padding: 90px;

}

/* adding some padding to the list items inside the unorderded list */
.footer-container ul li{
  padding: 1em 2em;

}

/* styling the items that are in the anchor tags of the footer */
.footer-container a{
  color:white;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
}


/* first media query for the responsiveness of the webpage */
@media screen and (max-width: 1360px) {

  .row {
    flex: 50%;
    min-width: 50%;


  }

  #first-pic{
    flex: 100%;
    max-width: 100%;

  }

  #fourth-pic{
    flex: 100%;
    max-width: 100%;
  }

}

/*  second media query for the responsiveness of the web page*/
@media screen and (max-width: 500px) {

  .row {
    flex: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
  }

}
